@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  scroll-behavior: smooth;
}

body {
  background: black;
  color: black;
}

@keyframes scroll {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-50%);
  }
}

.animate-scroll {
  animation: scroll 20s linear infinite;
}

@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

.animate-gradient {
  animation: gradient 3s linear infinite;
}

.animate-gradient-text {
  animation: gradient 6s linear infinite;
  background-clip: text;
  -webkit-background-clip: text;
}

/* Section Animations */
.section {
  transform: translateY(20px);
  transition: opacity 0.5s ease-out, transform 0.5s ease-out;
}

.section.active {
  opacity: 1 !important;
  transform: translateY(0);
}

/* Ensure main container fades in immediately */
.animate-fade-in {
  animation-delay: 0s;
}

@layer base {
  .landing-page {
    --background: 0 0% 0%;
    --foreground: 0 0% 100%;

    --primary: 0 0% 100%;
    --primary-foreground: 0 0% 0%;

    --secondary: 0 0% 100%;
    --secondary-foreground: 0 0% 100%;

    --muted: 0 0% 100%;
    --muted-foreground: 0 0% 100%;

    --accent: 24 100% 50%;
    --accent-foreground: 0 0% 100%;

    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 100%;

    --border: 0 0% 100%;
    --input: 0 0% 100%;
    --ring: 0 0% 100%;

    --radius: 0.5rem;
  }
}

.dashboard-container {
  color: #431407; /* Assuming #1c1c1c is the equivalent of text-orange-950 */
}



/* @layer base {
  * {
    @apply border-border outline-ring/50;
  }
  body {
    @apply bg-background text-foreground;
  }
} */

